<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <package name="com.example.metabus.persistence.domain"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/metabus"/>
                <property name="username" value="root"/>
                <property name="password" value="!80RkY4xoKoPt"/>

            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="DomainMapping.xml"/>
        <mapper class="com.example.metabus.persistence.dao.UserDao"/>
        <mapper class="com.example.metabus.persistence.dao.FacilityDao"/>
        <mapper class="com.example.metabus.persistence.dao.BusDao"/>
    </mappers>


</configuration>