@font-face{
    src: url('fonts/IBMPlexSansKR-Medium.ttf');
}

@font-face{
    src: url('fonts/netmarbleM.ttf');
}

@font-face{
    src: url('fonts/netmarbleB.ttf');
}

.ibmM{
    -fx-font-family: 'IBM Plex Sans KR Medium';
}

.netmarbleM{
    -fx-font-family: 'netmarble Medium';
}

.netmarbleB{
    -fx-font-family: 'netmarble Bold';
}

.bg{
    -fx-background-color: #FEFEFE;
    -fx-border-color:  #FEFEFE;
}

.input{
    -fx-background-color: #ECEFF1;
}

.btn, .btn-txt-medium, .btn-txt-small, .btn-txt-smaller{
    -fx-background-color: #FEFEFE;
}

.btn:hover, .btn-txt-medium:hover, .btn-txt-small:hover, .btn-txt-smaller:hover{
    -fx-background-color: #ECEFF1;
}

.btn-txt-medium, .btn-txt-medium:hover{
    -fx-font-family: 'netmarble Medium';
    -fx-font-size: 20px;
}

.btn-txt-small, .btn-txt-small:hover{
    -fx-font-family: 'netmarble Medium';
    -fx-font-size: 16px;
}

.btn-txt-smaller, .btn-txt-smaller:hover{
    -fx-font-family: 'netmarble Medium';
    -fx-font-size: 12px;
}

.box{
    -fx-background-color: #ECEFF1;
    -fx-background-radius: 5px;
}

.just-btn{
    -fx-background-color: #ECEFF1;
}

.table-view{
  -fx-background-color: transparent;
  -fx-border-color: #FEFEFE;
  -fx-border-width: 0 0 0 0;
}

.table-view .column-header{
    -fx-background-color: #ECEFF1;
}

.table-view .table-column{
    -fx-alignment: CENTER;
}

.titled-pane > .title{
    -fx-background-color: -fx-box-border, -fx-inner-border, #ECEFF1;
    -fx-background-insets: 0, 1, 2;
}

.titled-pane > *.content{
    -fx-background-color:
    -fx-box-border,
    linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
 }
